@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide-active {
  @apply scale-110 opacity-100;
}

.swiper-slide-prev,
.swiper-slide-next {
  @apply scale-95 opacity-75;
}

.swiper-slide {
  opacity: 0.4;
}

.swiper-slide.swiper-slide-next {
  opacity: 1;
}

.nav-link.active {
  color: #1e90ff;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    opacity: 1;
  }
}
